@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventEase Management Software System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/Copy of Spendatius Logo.png');
            font-family: Arial, sans-serif;
            background-color: #000000;
            color: #ffffff;
        }

        .navbar {
            background-color: #E6A100;
        }

        .navbar-brand {
            font-weight: bold;
            color: #ffffff;
        }

        .jumbotron {
            background-image: url('https://source.unsplash.com/1600x900/?azure,cloud');
            background-size: cover;
            /* dark overlay so the image stays visible but text is readable */
            background-color: rgba(0,0,0,0.6);
            background-blend-mode: darken;
            color: #ffffff;
        }

            .jumbotron h1 {
                font-size: 3rem;
                font-weight: bold;
            }


            .jumbotron p {
                font-size: 1.5rem;
                color: #e6e6e6;
            }

        .btn-azure {
            background-color: #E6A100;
            color: #ffffff;
            border: none;
        }


        .features {
            margin-top: 30px;
        }

        .feature {
            text-align: center;
        }

            .feature img {
                width: 100px;
                height: 100px;
            }

        .btn-group{
            margin-top: 20px;
        }

    </style>
</head>


<body>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to EventEaseDB!</h1>
            <p>Event Booking simplified!</p>


            <div class="btn-group" role="group">

                <a href="/Venue" class="btn btn-azure btn-lg">Venues</a>
                <a href="/Event" class="btn btn-azure btn-lg">Events</a>
                <a href="/Booking" class="btn btn-azure btn-lg">Bookings</a>
            </div>
        </div>
    </div>



</body>
</html>
